/*
  Theme Name: Regna
  Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
  Author: BootstrapMade.com
  License: https://bootstrapmade.com/license/
*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", "Microsoft JhengHei", sans-serif;
  height: 100%;
}

a {
  color: #40A39E;
}

a:hover, a:active, a:focus {
  color: #47B8B2;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 20px 0;
  /*text-indent: 2em; 凸排*/
  text-align: justify; /*左右對齊*/
  text-justify:inter-ideograph;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Microsoft JhengHei", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height:  100%;
}


/* Prelaoder */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.svg") no-repeat center center;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #40A39E;
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: rgba(52, 59, 64, 0.9);
  padding: 9px 0;
  height: 55px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Poppins", "Microsoft JhengHei", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  max-height: 35px;
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #header #logo h1 {
    padding: 5px 0;
    font-size: 26px;
  }
  #header #logo img {
    max-height: 40px;
  }
}

#header.header-fixed {
  background: rgba(52, 59, 64, 0.9);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url(../img/03.png) top center;
  background-size: cover;
  position: relative;
}

@media (max-width: 480px) {
  #hero {
    width: 100%;
    height: 100vh;
    background: url(../img/01-03.png) top 25% center;
    background-size: cover;
    position: relative;
  }
}

@media (max-width: 720px) {
  #hero {
    width: 100%;
    height: 100vh;
    background: url(../img/01-03.png) center;
    background-size: cover;
    position: relative;
  }
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 30px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  /*text-transform: uppercase; 強制大寫*/
  color: #fff;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#hero .btn-get-started {
  font-family: "Poppins", "Microsoft JhengHei", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: #40A39E;
  border: 2px solid #40A39E;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 8px 4px 10px 4px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Poppins", "Microsoft JhengHei", sans-serif;
  font-weight: 400;
  font-size: 13px;
  outline: none;
}

.nav-menu a.disable {
  pointer-events: none;
  cursor: default;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #40A39E;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-menu ul {
  margin: 4px 0 0 0;
  border: 1px solid #e7e7e7;
}

.nav-menu ul li {
  background: #fff;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li a:hover {
  background: #40A39E;
  color: #fff;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 10px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #40A39E;
}

#mobile-nav ul .menu-item-active {
  color: #40A39E;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header .section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  margin-bottom: 5px;
}

.section-header .section-description {
  text-align: center;
  padding-bottom: 40px;
  color: #999;
}

/* About Us Section
--------------------------------*/
#about {
  background: #fff;
  padding: 0;
}

#about .about-container .content {
  background: #fff;
}

#about .about-container img {
  /*margin-bottom: 10px;*/
}

#about .about-container .title {
  background: #40A39E;
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  padding: 10px;
}

@media (max-width: 768px) {
  #about .about-container .title {
    padding-top: 15px;
  }
}

#about .about-container .container .content h1 {
  font-size: 95px;
  text-align: center;
  color: #EEF2EE;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  #about .about-container .container .content h1 {
    font-size: 55px;
    text-align: center;
    color: #EEF2EE;
    text-transform: uppercase;
  }
}

#about .about-container p {
  line-height: 26px;
  text-align: center;
}

#about .about-container p:last-child {
  margin-bottom: 20px;
}

#about .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#about .about-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /*border-radius: 50%;*/
  /*border: 2px solid #40A39E;*/
}

#about .about-container .icon-box .icon i {
  color: #40A39E;
  font-size: 24px;
}

#about .about-container .icon-box .title {
  margin-left: 20px;
  margin-top: 15px;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 28px;
  /*text-transform: uppercase;*/
}

#about .about-container .icon-box .title a {
  color: #111;
}

#about .about-container .icon-box .description {
  margin-left: 20px;
  line-height: 24px;
  font-size: 15px;
}

/* Facts Section
--------------------------------*/
#facts {
  background: #f7f7f7;
  padding: 80px 0 60px 0;
}

#facts .counters span {
  font-size: 48px;
  display: block;
  color: #40A39E;
}

#facts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Poppins", "Microsoft JhengHei", sans-serif;
  font-size: 14px;
}

/* Services Section
--------------------------------*/
#services {
  background: #fff;
  background-size: cover;
  padding: 80px 0 60px 0;
}

#services .box {
  padding: 50px 20px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  height: 200px;
  position: relative;
  background: #fafafa;
}

#services .icon {
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  transition: 0.2s;
  border-radius: 50%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 72px;
  height: 72px;
  background: #40A39E;
}

#services .icon a {
  display: inline-block;
}

#services .icon i {
  color: #fff;
  font-size: 24px;
}

#services .box:hover .icon {
  background: #fff;
  border: 2px solid #40A39E;
}

#services .box:hover .icon i {
  color: #40A39E;
}

#services .box:hover .icon a {
  color: #40A39E;
}

#services .title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#services .title a {
  color: #111;
}

#services .description {
  font-size: 14px;
  line-height: 24px;
}

/* Call To Action Section
--------------------------------*/
#call-to-action {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/call-to-action-bg.jpg) fixed center center;
  background-size: cover;
  padding: 80px 0;
}

#call-to-action .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#call-to-action .cta-text {
  color: #fff;
}

@media (min-width: 769px) {
  #call-to-action .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

#call-to-action .cta-btn {
  font-family: "Poppins", "Microsoft JhengHei", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#call-to-action .cta-btn:hover {
  background: #40A39E;
  border: 2px solid #40A39E;
}

/* Portfolio Section
--------------------------------*/
#portfolio {
  background: #f7f7f7;
  padding: 0 0 100px 0;
}

#portfolio .portfolio-container .title {
  background: #40A39E;
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  padding: 10px;
}

@media (max-width: 768px) {
  #portfolio .portfolio-container .title {
    padding-top: 15px;
  }
}

#portfolio .portfolio-container .container .content h1 {
   font-size: 95px;
   text-align: center;
   color: #E8EDE8;
   text-transform: uppercase;
  }

@media (max-width: 768px) {
  #portfolio .portfolio-container .container .content h1 {
   font-size: 55px;
   text-align: center;
   color: #EEF2EE;
   text-transform: uppercase;
  }
}

#portfolio .portfolio-container p {
  line-height: 26px;
  text-align: center;
}

#portfolio .portfolio-container p:last-child {
  margin-bottom: 0px;
}

#portfolio #portfolio-wrapper {
  padding-right: 15px;
}

#portfolio #portfolio-flters {
  padding: 0;
  margin: 0 0 45px 0;
  list-style: none;
  text-align: center;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 0 10px;
  display: inline-block;
  padding: 10px 22px;
  font-size: 12px;
  line-height: 20px;
  color: #666666;
  border-radius: 4px;
  border: 1px solid #EEF2EE;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover, #portfolio #portfolio-flters li.filter-active {
  background: #40A39E;
  color: #fff;
}

#portfolio .portfolio-item {
  position: relative;
  height: 200px;
  overflow: hidden !important;
  margin-bottom: 15px;
  transition: all 350ms ease;
  transform: scale(1);
}

#portfolio .portfolio-item a {
  display: block;
  margin-right: 15px;
}

#portfolio .portfolio-item img {
  position: relative;
  top: 0;
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#portfolio .portfolio-item .details {
  height: 50px;
  background: #40A39E;
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: -50px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#portfolio .portfolio-item .details h4 {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 8px 0 2px 8px;
  margin: 0;
}

#portfolio .portfolio-item .details span {
  display: block;
  color: #fff;
  font-size: 13px;
  padding-left: 8px;
}

#portfolio .portfolio-item:hover .details {
  bottom: 0;
}

#portfolio .portfolio-item:hover img {
  top: -30px;
}
/* buy Section
--------------------------------*/
/*#buy {
  background: #fff;
  padding: 80px 0 60px 0;
}

#buy .member {
  text-align: center;
  margin-bottom: 20px;
}

#buy .member .pic {
  margin-bottom: 15px;
  overflow: hidden;
  height: 180px;
}

#buy .member .pic img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height:  100%;
}

#buy .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 22px;
}

#buy .member span {
  display: block;
  font-size: 16px;
  font-family: "Poppins", "Microsoft JhengHei", sans-serif;
}

#buy .member i {
  font-size: 16px;
  color: #40A39E;
  float: left;
}

#buy .member .social {
  margin-top: 15px;
}

#buy .member .social a {
  color: #b3b3b3;
}

#buy .member .social a:hover {
  color: #40A39E;
}

#buy .member .social i {
  font-size: 18px;
  margin: 0 2px;
}*/

/* team Section
--------------------------------*/
#team {
  background: #fff;
  padding: 80px 0 60px 0;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
}

#team .member .pic {
  margin-bottom: 15px;
  overflow: hidden;
  height: 260px;
}

#team .member .pic img {
  display: block;
  max-width: 100%;
  height:  100%;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  color: #b3b3b3;
}

#team .member .social a:hover {
  color: #40A39E;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/* Contact Section
--------------------------------*/
#contact {
  background: #f7f7f7;
  padding: 80px 0 40px 0;
}

#contact #google-map {
  height: 300px;
  margin-bottom: 20px;
}

#contact .info {
  color: #333333;
}

#contact .info i {
  font-size: 32px;
  color: #40A39E;
  float: left;
}

#contact .info p {
  padding: 0 0 10px 50px;
  margin-bottom: 15px;
  line-height: 22px;
  font-size: 14px;
}

#contact .info .email p {
  padding-top: 5px;
}

#contact .social-links {
  padding-bottom: 15px;
}

#contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-bottom: 5px;
}

#contact .social-links a:hover {
  background: #40A39E;
  color: #fff;
}

#contact .form #sendmessage {
  color: #40A39E;
  border: 1px solid #40A39E;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact button[type="submit"] {
  background: #40A39E;
  border: 0;
  border-radius: 4px;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

#contact button[type="submit"]:hover {
  background: #47B8B2;
}

/* News Section
--------------------------------*/
#news {
  background: #fff;
  padding: 55px 0;
}

#news .news-container .content {
  background: #fff;
}

#news .news-container .title {
  background: #fff;
  color: #000;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  padding: 10px;
}

@media (max-width: 768px) {
  #news .news-container .title {
    padding-top: 15px;
  }
}

#news .news-container p {
  line-height: 26px;
  text-align: left;
}

#news .news-container a:hover {
  color: #47B8B2;
}

#news .news-container p:last-child {
  margin-bottom: 20px;
}

#news .news-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#news .news-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #40A39E;
}

#news .news-container .icon-box .icon i {
  color: #40A39E;
  font-size: 24px;
}

#news .news-container .icon-box .title {
  margin-left: 70px;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 28px;
  text-transform: uppercase;
}

#news .news-container .icon-box .title a {
  color: #111;
}

#news .news-container .icon-box .description {
  margin-left: 70px;
  line-height: 24px;
  font-size: 15px;
}

#news .news-container .container .content h1 {
  font-size: 95px;
  text-align: center;
  color: #EEF2EE;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  #news .news-container .container .content h1 {
    font-size: 55px;
    text-align: center;
    color: #EEF2EE;
    text-transform: uppercase;
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #343b40;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  font-size: 13.5px;
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}


/*--------------------------------------------------------------
# F.A.Q Section
--------------------------------------------------------------*/

#faq {
  padding: 60px 0;
}

#faq #faq-list {
  padding: 0;
  list-style: none;
}

#faq #faq-list li {
  border-bottom: 1px solid #ddd;
}

#faq #faq-list a {
  padding: 18px 0;
  display: block;
  position: relative;
  font-family: "Open Sans", "Microsoft JhengHei", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  padding-right: 20px;
}

#faq #faq-list i {
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 16px;
}

#faq #faq-list p {
  margin-bottom: 20px;
}

#faq #faq-list a.collapse {
  color: #f82249;
}

#faq #faq-list a.collapsed {
  color: #000;
}

#faq #faq-list a.collapsed i::before {
  content: "\f055" !important;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }

  #faq #faq-list a {
    font-size: 18px;
  }

  #faq #faq-list i {
    top: 13px;
  }
}

#faq .faq-container .container .content h1 {
  font-size: 95px;
  text-align: center;
  color: #EEF2EE;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  #faq .faq-container .container .content h1 {
    font-size: 55px;
    text-align: center;
    color: #EEF2EE;
    text-transform: uppercase;
  }
}

/*--------------------------------------------------------------
# Login
--------------------------------------------------------------*/
#login body {
	font-family: "Poppins", "Microsoft JhengHei", sans-serif;
}
#login .modal-login {
	text-align: center;
  padding: 30px!important;
}
@media (max-width: 1024px) {
  #login .modal-login {
    text-align: center;
    padding: 30px!important;
  }
}
#login .modal-login .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
#login .modal-login .modal-header {
	border-bottom: none;
  position: relative;
	justify-content: center;
}
#login .modal-login .close {
  position: absolute;
	top: -10px;
	right: -10px;
}
#login .modal-login h4 {
	color: #636363;
	text-align: center;
	font-size: 26px;
	margin-top: 0;
}
#login .modal-login .modal-content {
	color: #999;
	border-radius: 1px;
	margin-bottom: 15px;
    background: #fff;
	border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 25px;
}
#login .modal-login .form-group {
	margin-bottom: 20px;
}
#login .modal-login label {
	font-weight: normal;
	font-size: 13px;
}
#login .modal-login .form-control {
	min-height: 38px;
	padding-left: 5px;
	box-shadow: none !important;
	border-width: 0 0 1px 0;
	border-radius: 0;
}
#login .modal-login .form-control:focus {
	border-color: #ccc;
}
#login .modal-login .input-group-addon {
	max-width: 42px;
	text-align: center;
	background: none;
	border-width: 0 0 1px 0;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 0;
}
#login .modal-login .btn {
    font-size: 16px;
    font-weight: bold;
	background: #40A39E;
    border-radius: 3px;
	border: none;
	min-width: 140px;
    outline: none !important;
}
#login .modal-login .btn:hover, .modal-login .btn:focus {
	background: #47B8B2;
}
#login .modal-login .hint-text {
	text-align: center;
	padding-top: 5px;
	font-size: 13px;
}
#login .modal-login .modal-footer {
	color: #999;
	border-color: #dee4e7;
	text-align: center;
	margin: 0 -25px -25px;
	font-size: 13px;
	justify-content: center;
}
#login .modal-login a {
	color: #fff;
	text-decoration: underline;
}
#login .modal-login a:hover {
	text-decoration: none;
}
#login .modal-login a {
	color: #40A39E;
	text-decoration: none;
}
#login .modal-login a:hover {
	text-decoration: underline;
}
#login .modal-login .fa {
	font-size: 21px;
}
#login .trigger-btn {
	display: inline-block;
	margin: 100px auto;
}
/*--------------------------------------------------------------
# Forget
--------------------------------------------------------------*/
#forget body {
	font-family: "Poppins", "Microsoft JhengHei", sans-serif;
}
#forget .modal-login {
	text-align: center;
  padding: 30px!important;
}
#forget .modal-login .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
#forget .modal-login .modal-header {
	border-bottom: none;
    position: relative;
	justify-content: center;
}
#forget .modal-login .close {
    position: absolute;
	top: -10px;
	right: -10px;
}
#forget .modal-login h4 {
	color: #636363;
	text-align: center;
	font-size: 26px;
	margin-top: 0;
}
#forget .modal-login .modal-content {
	color: #999;
	border-radius: 1px;
	margin-bottom: 15px;
    background: #fff;
	border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 25px;
}
#forget .modal-login .form-group {
	margin-bottom: 20px;
}
#forget .modal-login label {
	font-weight: normal;
	font-size: 13px;
}
#forget .modal-login .form-control {
	min-height: 38px;
	padding-left: 5px;
	box-shadow: none !important;
	border-width: 0 0 1px 0;
	border-radius: 0;
}
#forget .modal-login .form-control:focus {
	border-color: #ccc;
}
#forget .modal-login .input-group-addon {
	max-width: 42px;
	text-align: center;
	background: none;
	border-width: 0 0 1px 0;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 0;
}
#forget .modal-login .btn {
    font-size: 16px;
    font-weight: bold;
	background: #40A39E;
    border-radius: 3px;
	border: none;
	min-width: 140px;
    outline: none !important;
}
#forget .modal-login .btn:hover, .modal-login .btn:focus {
	background: #47B8B2;
}
#forget .modal-login .hint-text {
	text-align: center;
	padding-top: 5px;
	font-size: 13px;
}
#forget .modal-login .modal-footer {
	color: #999;
	border-color: #dee4e7;
	text-align: center;
	margin: 0 -25px -25px;
	font-size: 13px;
	justify-content: center;
}
#forget .modal-login a {
	color: #fff;
	text-decoration: underline;
}
#forget .modal-login a:hover {
	text-decoration: none;
}
#forget .modal-login a {
	color: #40A39E;
	text-decoration: none;
}
#forget .modal-login a:hover {
	text-decoration: underline;
}
#forget .modal-login .fa {
	font-size: 21px;
}
#forget .trigger-btn {
	display: inline-block;
	margin: 100px auto;
}
/*--------------------------------------------------------------
# Register
--------------------------------------------------------------*/
#register body {
	font-family: "Poppins", "Microsoft JhengHei", sans-serif;
}
#register .modal-login {
	text-align: center;
  padding: 30px!important;
}
#register .modal-login .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
#register .modal-login .modal-header {
	border-bottom: none;
    position: relative;
	justify-content: center;
}
#register .modal-login .close {
    position: absolute;
	top: -10px;
	right: -10px;
}
#register .modal-login h4 {
	color: #636363;
	text-align: center;
	font-size: 26px;
	margin-top: 0;
}
#register .modal-login .modal-content {
	color: #999;
	border-radius: 1px;
	margin-bottom: 15px;
    background: #fff;
	border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 25px;
}
#register .modal-login .form-group {
	margin-bottom: 20px;
}
#register .modal-login label {
	font-weight: normal;
	font-size: 13px;
}
#register .modal-login .form-control {
	min-height: 38px;
	padding-left: 5px;
	box-shadow: none !important;
	border-width: 0 0 1px 0;
	border-radius: 0;
}
#register .modal-login .form-control:focus {
	border-color: #ccc;
}
#register .modal-login .input-group-addon {
	max-width: 42px;
	text-align: center;
	background: none;
	border-width: 0 0 1px 0;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 0;
}
#register .modal-login .btn {
    font-size: 16px;
    font-weight: bold;
	background: #40A39E;
    border-radius: 3px;
	border: none;
	min-width: 140px;
    outline: none !important;
}
#register .modal-login .btn:hover, .modal-login .btn:focus {
	background: #47B8B2;
}
#register .modal-login .hint-text {
	text-align: center;
	padding-top: 5px;
	font-size: 13px;
}
#register .modal-login .modal-footer {
	color: #999;
	border-color: #dee4e7;
	text-align: center;
	margin: 0 -25px -25px;
	font-size: 13px;
	justify-content: center;
}
#register .modal-login a {
	color: #fff;
	text-decoration: underline;
}
#register .modal-login a:hover {
	text-decoration: none;
}
#register .modal-login a {
	color: #40A39E;
	text-decoration: none;
}
#register .modal-login a:hover {
	text-decoration: underline;
}
#register .modal-login .fa {
	font-size: 21px;
}
#register .trigger-btn {
	display: inline-block;
	margin: 100px auto;
}

/* app Section
--------------------------------*/
#app {
  background: #fff;
  padding: 0;
}

#app #app-wrapper {
  padding-right: 15px;
}

#app #app-flters {
  padding: 0;
  margin: 0 0 45px 0;
  list-style: none;
  text-align: center;
}

#app #app-flters li {
  cursor: pointer;
  margin: 0 10px;
  display: inline-block;
  padding: 10px 22px;
  font-size: 12px;
  line-height: 20px;
  color: #666666;
  border-radius: 4px;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#app #app-flters li:hover, #app #app-flters li.filter-active {
  background: #40A39E;
  color: #fff;
}

#app .app-item {
  position: relative;
  height: 200px;
  overflow: hidden !important;
  margin-bottom: 15px;
  transition: all 350ms ease;
  transform: scale(1);
}

#app .app-item a {
  display: block;
  margin-right: 15px;
}

#app .app-item img {
  position: relative;
  top: 0;
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#app .app-item .details {
  height: 50px;
  background: #40A39E;
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: -50px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#app .app-item .details h4 {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 8px 0 2px 8px;
  margin: 0;
}

#app .app-item .details span {
  display: block;
  color: #fff;
  font-size: 13px;
  padding-left: 8px;
}

#app .app-item:hover .details {
  bottom: 0;
}

#app .app-item:hover img {
  top: -30px;
}

#app .app-container .container .content h1 {
   font-size: 95px;
   text-align: center;
   color: #EEF2EE;
   text-transform: uppercase;
}

@media (max-width: 768px) {
  #app .app-container .container .content h1 {
   font-size: 55px;
   text-align: center;
   color: #EEF2EE;
   text-transform: uppercase;
  }
}

#app .app-container .title {
  background: #40A39E;
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  padding: 0;
}

@media (max-width: 768px) {
  #app .app-container .title {
    padding-top: 15px;
  }
}
/*--------------------------------------------------------------
# Login
--------------------------------------------------------------*/
#buy body {
  font-family: "Poppins", "Microsoft JhengHei", sans-serif;
}
#buy .modal-login {
  width: 100%;
}
#buy .modal-login .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
#buy .modal-login .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}
#buy .modal-login .close {
  position: absolute;
  top: -10px;
  right: -10px;
}
#buy .modal-login h4 {
  color: #636363;
  text-align: center;
  font-size: 32px;
  margin-top: 0;
  font-weight: 500;
}
#buy .modal-login .modal-content {
  color: #999;
  border-radius: 1px;
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  /*padding: 25px;*/
}
#buy .modal-login .form-group {
  margin-bottom: 20px;
}
#buy .modal-login label {
  font-weight: normal;
  font-size: 13px;
}
#buy .modal-login .form-control {
  min-height: 38px;
  padding-left: 5px;
  box-shadow: none !important;
  border-width: 0 0 0 0;
  border-radius: 0;
}
#buy .modal-login .form-control:focus {
  border-color: #ccc;
}
#buy .modal-login .input-group-addon {
  color: #40A39E;
  max-width: 30px;
  text-align: center;
  background: none;
  /*border-width: 0 0 1px 0;*/
  padding-top: 6px;
  /*padding-left: 5px;*/
  /*padding-right: 5px;*/
  border-radius: 0;
}

/*#buy .modal-login .btn {
  font-size: 16px;
  font-weight: bold;
  background: #40A39E;
  border-radius: 3px;
  border: none;
  min-width: 140px;
  outline: none !important;
}
#buy .modal-login .btn:hover, .modal-login .btn:focus {
  background: #47B8B2;
}
#buy .modal-login .hint-text {
  text-align: center;
  padding-top: 5px;
  font-size: 13px;
}
#buy .modal-login .modal-footer {
  color: #999;
  border-color: #dee4e7;
  text-align: center;
  margin: 0 -25px -25px;
  font-size: 13px;
  justify-content: center;
}*/
#buy .modal-login a {
  color: #fff;
  text-decoration: underline;
}
#buy .modal-login a:hover {
  text-decoration: none;
}
#buy .modal-login a {
  color: #40A39E;
  text-decoration: none;
}
#buy .modal-login a:hover {
  text-decoration: underline;
}
#buy .modal-login .fa {
  font-size: 21px;
}
/*#buy .trigger-btn {
  display: inline-block;
  margin: 100px auto;
}*/
.hr-line-dashed {
  border-top: 1px solid #e7eaec;
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
  margin: 20px 0;
}

#buy .b-r {
  border-right: 1px solid #e7eaec;
}

/*--------------------------------------------------------------
# Information
--------------------------------------------------------------*/
.modal-information body {
  font-family: "Open Sans", "Microsoft JhengHei", sans-serif;
}
.modal-information {
  text-align: center;
  padding: 0px!important;
}
@media (max-width: 1024px) {
  .modal-information {
    text-align: center;
    padding: 0px!important;
  }
}
.modal-information .modal-header {
  /*border-bottom: none;*/
  position: relative;
  /*justify-content: center;*/
}
.modal-information .modal-title {
  text-align: left;
}
.modal-information .close {
  position: absolute;
  top: -10px;
  right: -10px;
}
.modal-information .modal-content {
  /*color: #666;*/
  border-radius: 4px;
  margin-bottom: 15px;
  /*background: #fff;*/
  border: 1px solid #f3f3f3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 25px;
}
.modal-information .form-group {
  margin-bottom: 20px;
}
.modal-information label {
  font-weight: normal;
  font-size: 13px;
}
.modal-information .form-control {
  min-height: 38px;
  padding-left: 5px;
  box-shadow: none !important;
  border-width: 0 0 1px 0;
  border-radius: 0;
}
.modal-information .form-control:focus {
  border-color: #ccc;
}
.modal-information .modal-footer {
  color: #999;
  border-color: #dee4e7;
  text-align: center;
  margin: 0 -25px -25px;
  font-size: 13px;
  justify-content: center;
}

.modal-information .modal-content .modal-body .form-group a {
  color: #40A39E;
  text-decoration: none;
}