/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
	background: #f2f2f2;
}

/*---------------------------------------------*/
a {
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體", "蘋方-繁";
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #26ABB6;
  color: -webkit-linear-gradient(left, #00D1D1, #008C9B);
  color: -o-linear-gradient(left, #00D1D1, #008C9B);
  color: -moz-linear-gradient(left, #00D1D1, #008C9B);
  color: linear-gradient(left, #00D1D1, #008C9B);
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體", "蘋方-繁";
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體", "蘋方-繁";
	font-size: 13px;
	color: #666666;
	line-height: 1.5;
}

.txt2 {
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體", "蘋方-繁";
	font-size: 13px;
	color: #333333;
	line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  margin: 0 auto;
  background: #f2f2f2;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  limiter: center !important; 

}

.container-docter {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	padding-top: 30px;
	padding-right: 10px;
	padding-bottom: 30px;
	padding-left: 10px;
	z-index: 2;
	position: relative;
}

.wrap-docter {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(25, 213, 235, 0.3);
	-moz-box-shadow: 0 0 15px rgba(25, 213, 235, 0.3);
	-webkit-box-shadow: 0 0 15px rgba(25, 213, 235, 0.3);
	-o-box-shadow: 0 0 15px rgba(25, 213, 235, 0.3);
	-ms-box-shadow: 0 0 15px rgba(25, 213, 235, 0.3);
	overflow: hidden;
	padding-top: 20px;
	padding-right: 35px;
	padding-bottom: 10px;
	padding-left: 35px;
	margin-right: 10px;
	margin-left: 10px;
	width: 390px;
}
.light{
	width: 260px;
	height: 450px;
	box-shadow: 0 0 180px rgba(0, 255, 222, 0.9);
	-moz-box-shadow: 0 0 180px rgba(0, 255, 222, 0.9);
	-webkit-box-shadow: 0 0 180px rgba(0, 255, 222, 0.9);
	-o-box-shadow: 0 0 180px rgba(0, 255, 222, 0.9);
	-ms-box-shadow: 0 0 180px rgba(0, 255, 222, 0.9);
	position: absolute;
	animation: twinkling 3s infinite;
	z-index: -1;
	margin-top: 40px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
    }

@keyframes twinkling {
            0% {
                opacity: 0.2;
                transform: scale(1);
            }
 
            50% {
                opacity: 0.5;
                transform: scale(1.12);
            }
 
            100% {
                opacity: 0.2;
                transform: scale(1);
            }
        }

/*------------------------------------------------------------------
[ Form ]*/

.docter-form {
  width: 100%;
}

.docter-form-title {
	display: block;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體", "蘋方-繁";
	font-size: 28px;
	color: #26ABB6;
	line-height: 1.2;
	font-weight: 600;
	background-position: center;
}
.docter-form-title i {
  font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
	width: 100%;
	position: relative;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 25px;
}

.input100 {
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體", "蘋方-繁";
	font-size: 18px;
	color: #008C9B;
	line-height: 1.2;
	display: block;
	width: 100%;
	height: 45px;
	background: transparent;
	padding: 0 5px;
}

/*---------------------------------------------*/ 
.focus-input100 {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 1px;
	pointer-events: none;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體", "蘋方-繁";
	color: #ccc;
	font-size: 18px;
	font-weight: normal;
}

.focus-input100::before {
	content: "";
	display: block;
	position: absolute;
	font-weight: normal;
	bottom: -2px;
	left: 0;
	width: 0;
	height: 2px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	background: #008C9B;
	background: -webkit-linear-gradient(left, #00D1D1, #008C9B);
	background: -o-linear-gradient(left, #00D1D1, #008C9B);
	background: -moz-linear-gradient(left, #00D1D1, #008C9B);
	background: linear-gradient(left, #00D1D1, #008C9B);
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體", "蘋方-繁";
}

.focus-input100::after {
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體", "蘋方-繁";
	font-size: 16px;
	font-weight: normal;
	color: #999;
	line-height: 1em;
	content: attr(data-placeholder);
	display: block;
	width: 100%;
	position: absolute;
	top: 16px;
	left: 0px;
	padding-left: 5px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
.input100 has-val{
		background: #000;
}

.input100:focus + .focus-input100::after {
  top: -15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*---------------------------------------------*/
.btn-show-pass {
  font-size: 15px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-show-pass:hover {
  color: #26ABB6;
  color: -webkit-linear-gradient(left, #00D1D1, #008C9B);
  color: -o-linear-gradient(left, #00D1D1, #008C9B);
  color: -moz-linear-gradient(left, #00D1D1, #008C9B);
  color: linear-gradient(left, #00D1D1, #008C9B);
}

.btn-show-pass.active {
  color: #26ABB6;
  color: -webkit-linear-gradient(left, #00D1D1, #008C9B);
  color: -o-linear-gradient(left, #00D1D1, #008C9B);
  color: -moz-linear-gradient(left, #00D1D1, #008C9B);
  color: linear-gradient(left, #00D1D1, #008C9B);
}



/*------------------------------------------------------------------
[ Button ]*/
.container-docter-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-docter-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
}

.docter-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #008C9B;
  background: -webkit-linear-gradient(right, #008C9B, #26ABB6, #00D1D1, #008C9B);
  background: -o-linear-gradient(right, #008C9B, #26ABB6, #00D1D1, #008C9B);
  background: -moz-linear-gradient(right, #008C9B, #26ABB6, #00D1D1, #008C9B);
  background: linear-gradient(right, #008C9B, #26ABB6, #00D1D1, #008C9B);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.docter-form-btn {
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體", "蘋方-繁";
	font-size: 20px;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	width: 100%;
	height: 50px;
}

.wrap-docter-form-btn:hover .docter-form-bgbtn {
  left: 0;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-docter {
    padding: 30px 25px 0px 25px;
	width: 390px;
  }
  .container-docter {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	background: #f2f2f2;
	padding-top: 25px;
	padding-right: 5px;
	padding-bottom: 30px;
	padding-left: 5px;
}
  .logo {
	text-align: center;
	margin-bottom: 20px;
	padding-left: 15px;
}
}


.member {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
 .text-member {
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體", "蘋方-繁";
	font-size: 24px;
	color: #008C9B;
	font-weight: 500;
	margin-bottom: 30px;
	padding-left: 10px;
	text-align: center;
}
 .text-announce {
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體", "蘋方-繁";
	font-size: 14px;
	color: #333333;
	margin-bottom: 30px;
	word-break: break-all;
	line-height: 24px;
}
/*---------------------------------------------*/

.form-control {
	display: block;
	width: 100%;
    padding: .5rem .75rem;
	font-size: 1rem;
	line-height: 1.25;
	color: #495057;
	background-color: #fff;
	background-image: none;
	background-clip: padding-box;
	border: 1px solid #CCCCCC;
    border-radius: .25rem;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*---------------------------------------------*/


.custom-table {
	min-width: 100%;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
}

    .custom-table tbody th small, .custom-table tbody td small {
      color: #777;
      font-weight: 500; }
  .custom-table tbody tr:not(.spacer) {
	border-radius: 7px;
	overflow: hidden;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;

}
    .custom-table tbody tr:not(.spacer):hover {
	-webkit-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
}


	.custom-table tbody th, .custom-table tbody td {
	padding-bottom: 10px;
	padding-top: 10px;
	font-weight: 500;
	font-size: 26px;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體", "蘋方-繁";
	color: #828282;
}

.table td, .table th {
	vertical-align: middle;
	border-top-style: none;
		text-align: center;
}

.list-group-item {
	position: relative;
	display: block;
	background-color: #ED5F55;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體", "蘋方-繁";
	font-size: 16px;
	font-weight: 500;
	color: #FFF;
	width: 80px;
	padding-top: 8px;
	padding-bottom: 2px;
	text-align: center;
}
.list-group-item:hover {
	background-color: #E9E9E9;
}
.spacer {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DFDFDF;
}

.icon {
	height: 25px;
	width: 25px;
	vertical-align: middle;
	margin-right: 6px;
	text-align: center;
	display: block;
}
