body {
  height: 1080px;
  max-width: 1920px;
  margin: auto;
  position: relative;
  font-family: 'Microsoft JhengHei';
  -ms-touch-action: none;
      touch-action: none;
}

.view {

  padding-top: 60px;
}

.view_line {
  background-color: #07b53b;
}
 .view .form_control{

    width: 480px;
  }

.view_twpay {
  background-color: #e74f96;
}

.view__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.view__content img {
  width: 300px;
  padding-bottom: 50px;
}

.view__content p {
  font-size: 30px;
  color: #fff;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.loading__inner {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  margin-left: 10px;
}

.loading__inner_big {
  width: 50px;
  height: 50px;
}
/*# sourceMappingURL=loading.css.map */